.d-flex {
  gap: 10px;
}

.controls > button {
  min-width: 100px;
  height: fit-content;
}

.img-holder {
  width: 200px;
  height: 150px;
  text-align: center;
}

.img-control {
  max-height: 100%;
  max-width: 100%;
}